<!DOCTYPE html>
<html lang="en">
  <head>
    {{> header}} <!-- partial -->
  </head>
  <body>
    {{> nav}} <!-- partial -->

    {{{body}}} <!-- phần nội dung sẽ được render ở đây từ từng view cụ thể -->

    {{> footer}} <!-- partial -->
    {{> script}} <!-- partial -->
  </body>
</html>
